<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>task4</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<div class="tables">
    <div class="table1-box">
        <h3 class="table1-title">Table1 : Table of Fruits and Their Prices</h3>
        <table border="1" style=  "text-align:center;">
            <tr>
                <th>Fruit</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Apple</td>
                <td>0.25$</td>
            </tr>
            <tr>
                <td>Orangoe</td>
                <td>0.50$</td>
            </tr>
            <tr>
                <td>Banana</td>
                <td>1.00$</td>
            </tr>
            <tr>
                <td>Pineapple</td>
                <td>2.00$</td>
            </tr>
            <tr class="total">
                <td>Total</td>
                <td>3.75$</td>
            </tr>
        </table>
    </div>
    <div class="table2-box">
        <h3 class="table2-title">Table2 : A more complex sample table</h3>
        <table border="1" style="border-collapse:collapse;  text-align:center;">

  <tr>
    <td rowspan="2">
      <img src="{% static 'bookmodule/Desert.JPG' %}" ><br>
    </td>

    <td colspan="5" class="names">Camelid comparison Approximate as of 6/2011</td>
  </tr>

  <tr class="names">
    <td># of humps</td>
    <td>Indigenous region</td>
    <td>Spits?</td>
    <td>Produces wool?</td>
  </tr>

  <tr>
    <td class="names">Dromedary</td>
    <td>1</td>
    <td>Arabian Peninsula</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>

  <tr>
    <td class="names">Camels(bactrian)</td>
    <td>2</td>
    <td>Africa/Asia</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>

  <tr>
    <td class="names">Llamas</td>
    <td>1</td>
    <td>Andes Mountains</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>

</table>
</div>
</div>
</body>
</html>