<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>task2</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<div>
    <h1>Example of Formatting tags</h1>
    <p>This text has subtext using b tag</p>
    <p><strong>This text has subtext using strong tag</strong></p>
    <p><i>This text has subtext using i tag</i></p>
    <p><em>This text has subtext using emphasize tag</em></p>
    <p><small>This text has subtext using small tag</small></p>
    <p><mark>This text has subtext using mark tag</mark></p>
    <p><del>This text has subtext using del tag</del></p>
    <p><ins>This text has subtext using ins tag</ins></p>
    <p><sup>This text has subtext using sup tag</sup></p>

</div>
</body>
</html>