<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<div id="block" class="block">

    <div class="text1">
        <a href="https://www.qu.edu.sa/" target="_blank">Go to QU website (open a new tap)</a>
    </div>

    <div class="text2">
        <a href="https://www.qu.edu.sa/">Go to QU website (open in the same page/tap)</a>
    </div>

    <div class="text3">
        <a href="https://www.qu.edu.sa/">Go to QU website (open in the same page/tap)</a>
    </div>

</div>
</body>
</html>